.counter {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.counter > button{
  border: 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: transparent;
}

img {
  height: 20px;
}