.tasks {
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding: 0 20px 10px;
}

.empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.empty > p {
  justify-self: center;
  text-align: center;
  font-size: 18px;
}

.empty > img {
  align-self: center;
  height: 200px;
  width: 200px;
}
